!!! 5
%html
  %body
    %p
      / one line html comment
    %p
      /
        multiline
        html
        comment
        %p jee
    %p
      -# one line comment
    %p
      -#
        multi
        line
        comment
    %p
      /[if IE]
        this is visible only for IE