!!! 5
%html
  %head
    :css
      body { color: #000; }
      
      p {
        color: #fff;
      }
    :plain
      %p should not render
      / neither this
  %body
    %p test
    %p
      :plain
        %p testing plain
          nesting
            nesting
            = 2 + 2