#markd-content
  :markdownextra
    # Markdown Extra Example {#header}
    
    ## Code Blocks
    
    ~~~~~~~~~~~~~~~~~~~~~
    a one-line code block
    ~~~~~~~~~~~~~~~~~~~~~
    
    ~~~
    
    blank line before
    blank line after
    
    ~~~
        
    ## Tables
    
    | Function name | Description                    |
    | ------------- | ------------------------------ |
    | `help()`      | Display the help window.       |
    | `destroy()`   | **Destroy your computer!**     |
    
    ## Lists
    
    ### Numbered lists
    
    1.  List item
    
        Not an indented code block, but a second paragraph
        in the list item
        
    ### Definition lists {#deflists}
    
    Apple
    :   Pomaceous fruit of plants of the genus Malus in 
        the family Rosaceae.
    :   An american computer company.
    
    Orange
    :   The fruit of an evergreen tree of the genus Citrus.
    
    Term 1
    Term 2
    :   Definition a
    
    ## Footnotes
    
    That's some text with a footnote.[^1]
    
    [^1]:
      And that's the footnote.
    
      That's the second paragraph.
    
    ## Abreviations
    
    *[HTML]: Hyper Text Markup Language
    *[W3C]:  World Wide Web Consortium
    
    The HTML specification is maintained by the W3C.    
    
    ## Header links
    
    [Link back to the header](#header)
    [Link back to the Definitions Lists](#deflists)
