#markd-content
  :markdown
    Markdown Example
    ================
    
    ## Headers
    
    This is an H1
    =============
    
    # This is also an H1
    
    This is an H2
    -------------
    
    ## And this too
    
    ### An H3 needs 3 #'s
    
    #### And so on... 
    
    ## Inline HTML 
    
    This is a regular paragraph.
    
    <table>
        <tr>
            <td>Foo</td>
        </tr>
    </table>
    
    This is another regular paragraph.
    
    ## Blockquotes
    
    ### Multiple paragraphs
    
    > This is a blockquote with two paragraphs. Lorem ipsum dolor sit amet,
    consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.
    Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.
    
    > Donec sit amet nisl. Aliquam semper ipsum sit amet velit. Suspendisse
    id sem consectetuer libero luctus adipiscing.
    
    ### Multiple Levels
    
    
    > This is the first level of quoting.
    >
    > > This is nested blockquote.
    >
    > Back to the first level.
    
    ### With Other Markdown Elements
    
    > ## This is a header.
    > 
    > 1.   This is the first list item.
    > 2.   This is the second list item.
    > 
    > Here's some example code:
    > 
    >     return shell_exec("echo $input | $markdown_script");
    
    ## Code blocks
    
    This is a normal paragraph:
    
        This is a code block.
        
    This is another normal paragraph:
        
    ## Lists
    
    ### Unordered
    
    *  Red
    +  Green
    -  Blue
    
    ### Ordered
    
    1.  Bird
    2.  McHale
    3.  Parish
    
    ### With Paragraphs Inside
    
    *   Bird
    
    *   Magic
    
    ### With Other Markdown Elements
    
    *   A list item with a blockquote:
    
        > This is a blockquote
        > inside a list item.
        
    *   A list item with a code block:
    
            <code goes here>
    
    ## Horizontal Rules
    
    * * *
    
    ***
    
    *****
    
    - - -
    
    ---------------------------------------
    
    ## Span Elements
    
    ### Links
    
    This is [an example](http://example.com/ "Title") inline link.
    
    [This link](http://example.net/) has no title attribute.
    
    ### Reference Links
    
    This is [an example][id] reference-style link.
    
    [id]: http://example.com/  "Optional Title Here"
    
    ### Emphasis
    
    *single asterisks*
    
    _single underscores_
    
    **double asterisks**
    
    __double underscores__
    
    ## Inline Code
    
    Use the `printf()` function.
    
    Please don't use any `<blink>` tags.