!!! 5
%html
  %head
    %title= $page_title
  %body
    %header
      #container
        %ul.navigation
          %li 
            Home
          %li
            Products
    %article
      %h1= $title
      = $article
    %footer       
      = $footer
    / end footer